<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>name case - interpolations</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="root">
        <h1>Learn Vue.js</h1>
        firstName: <input type="text" v-model="first_n"><br>
        lastName: <input type="text" v-model="last_n"><br>
        fullName: <span>{{first_n}}{{last_n}}</span>
    </div>

    <script>
        let vm = new Vue({
            el: "#root",
            data: {
                first_n: "",
                last_n: "",
            }
        })
    </script>
</body>

</html>